/*==================================================*/
/*General Reset*/
/*==================================================*/
/* --- CSS Property reset --- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
html {
    height: 100%;
    margin: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==================================================*/
/*General CSS*/
/*==================================================*/


body{
    line-height: 1;
    font-family: Arial,sans-serif;
    font-style: normal;
    font-variant: normal;
    height: 100%;
    margin:0;
}
#wrapper{
    min-height: 100%;
    background-image: url("../images/AMS.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}
/* --- Header Elements --- */
.headerBar {
    width: auto;
    clear: both ;
    padding: 5px 20px;
    border-bottom: 2px solid #195695;
    background: #ffffff;
}
.headerBar h1 {
    font-size:20pt;
    margin:0
    /* margin-bottom:10px; */
}
.headerBar h3 {
    font-size:12pt;
    margin: 0;
}
.headerLogo {
    /*width: 325px;*/
    /*height: 46px;*/
    padding-right: 10px;
    margin-right: 10px;
    border:none;  /* needed for IE9 & IE10 to remove the default border */
    border-right: 1px solid #195695;
}
#caspioform table{
    width: 99%;
    padding: 5px 20px;
}


/* --- Navigation Elements --- */
.menuWrapper {
    font-size: 12px;
    max-width: 180px;
    /*    align-content: center; */
    margin: 0 20px;
    line-height: 1.5em;
    position: absolute;
    z-index: 100;
}
.menuTag {
    background-color: #195695;
    Color: #FFFFFF;
    width: 60px;
    text-align: center;
    padding: 0;
    font-size: 15px;
    cursor: pointer;
    line-height: 1.7em;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;

    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.menuTag:hover {
    background-color: #7E8083;
}
.menuBody {
    display: none;
    border: 1px solid #195695;
    border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0 ;
    -webkit-border-radius: 0 0 6px 0;
    -o-border-radius: 0 0 6px 0 ;

    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    font-size: 10px;
    height: auto;
    width: auto;
    margin: 0 ;
    padding: 10px;
    background-color: #ffffff;
}
.menuBody ul {
    list-style:none;
    padding: 0 5px;
    width: 150px;
    margin: 0;
}
.menuBody .logout {
    float: right;
    padding-right: 5px;
}
.menuBody .logout a {
    text-decoration: none;
    font-variant: small-caps;
}
.menuBody .logout a:hover {
    color: #195695;
    font-weight: bold;
}
.menuBody ul li {
    padding: 0 5px;
}
.menuBody ul li a {
    color: #195695;
    text-decoration: none;
    font-variant: small-caps;
}
.menuBody ul li a:hover {
    color: #7E8083;
    font-weight: bold;
}
.menuBody .menuTitle {
    border-bottom: 1px solid #195695;
    font-size: 12px;
    font-variant: small-caps;
    font-weight: bold;
}
#bodyWrapper h1{
    font-size: 1.5em;
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
/*==================================================*/
/*Login*/
/*==================================================*/
/* Form Fields */
.error{
    color: #ff0000;
}
#xip_AdminEmail{
    width: 300px;
}
#xip_AdminPassword{
    width: 300px;
}
#registrationInfo{
    margin: 10px;
}
#registrationInfo fieldset{
    width: 450px;
}
#registrationInfo legend{
    padding: 5px;
}
#registrationInfo label{
    text-align: right;
    width: 150px;
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    border-right: 1px solid grey;
}
#registrationInfo input[type=submit]{
    display: block;
    float: right;
    margin:5px;
}
#userRegForm{
    width: 500px;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 5px;
}
#userRegForm h2{
    padding:10px;
}
#userRegForm form{
    padding:10px;
}
#userRegForm input[type=submit]{
    margin-top:20px;
}
#userRegForm label{
    display: inline-block;
    width: 150px;
    padding-top: 10px;
}
#userRegFormTitle{
    padding: 5px;
    border-bottom: 1px solid grey;
    vertical-align: middle;
}
#TOCform input{
    margin: 10px;
}
#TOSText{
    padding: 10px;
}

#auth2FADiv{
    width: 600px;
    margin: 50px auto;
    border: 1px solid #000000;
    border-radius: 5px;
}
#auth2FA{
    margin: 20px;
}
.form{
    width: 600px;
    margin: 50px auto;
    border: 1px solid #000000;
    border-radius: 5px;
}
.form h1{
    padding: 10px;
    border-bottom: 1px solid #000000;
}
/* Body Elements */
#contentBody{
    margin: auto;
    padding: 0 50px 50px;
}
#contentBody h3{
    padding-bottom: 20px;
}
.authError{
    color: #ff0000;
}
#accordion{
    max-width:450px;
    margin: 100px auto 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    display:block;
    width: auto;
    /*box-shadow: 5px 5px 5px #888888;*/
    border: 1px solid lightgrey;
    border-radius: 15px;
}
#accordion h3{
    color: #000000;
    font-size: 16px;
    padding:10px;
    border-bottom: 1px solid lightgrey;
    border-radius: 15px 15px 0 0;
}
#accordion[class^='cbFormTableEvenRow']{
    background: none;
}
/*==================================================*/
/*Password Reset*/
/*==================================================*/
/* Message Elements */
div[id^=PostBackMessage]{
    padding: 0 10px 10px;
}
/*==================================================*/
/*Locked Page*/
/*==================================================*/
#locked{
    width: 80%;
    margin: 20px auto;
}
#locked h1{
    font-size: 120%;
    font-weight: bold;
}