<script>
//	if(top != window) {
//		top.location=window.location;
//	}
</script>
<div class="headerBar" >
    <!--Change to set Header Logo-->
    <a href="home.html"><img id="Logo" style="float:left; width: 180px" class="headerLogo" src="images/logo.png"/></a>
    <!--Change to change header title-->
    <h1 id="headerTestH1">Authorization Template</h1>
    <!--AMS brand tool-->
    <h3 id="headerTestH3">AuthDeliver&trade;</h3>
</div>
<script>
    if (window.location.href.indexOf("//dev.") != -1){
        document.getElementById('Logo').src="images/logo_test.png";
        document.getElementById("headerTestH1").style.color = "grey";
        document.getElementById("headerTestH3").style.color = "grey";
    }
</script>

