<link rel="stylesheet" href="css/authorization.css">
<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="js/globals.js"></script>
<script src="js/auth.js"></script>
